<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scel - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <header th:replace="fragments/header :: cabecalho">
        <div>Header</div>
    </header>

    <div class="container">
        <h3><span class="badge badge-secondary">Página Inicial</span> - Sistema de Empréstimo de Livro</h3>
        <h4>Fatec Ferraz de vasconcelos</h4>
        <h5>Tecnologia em Análise e Desenvolvimento de Sistemas</h5>
        <h6>3o. Semestre 2019</h6>
        <p><a th:href="@{/livros/cadastrar}"><button class="btn btn-secondary">Cadastrar livro</button></a></p>
        <p><a th:href="@{/usuarios/cadastrar}"><button class="btn btn-secondary">Cadastrar usuário</button></a></p>
        <p><a th:href="@{/emprestimos/cadastrar}"><button class="btn btn-secondary">Registrar emprestimo</button></a></p>
    </div>
    <footer th:replace="fragments/footer :: rodape"></footer>
</body>
</html>